services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: hivebox-api
    ports:
      - "8000:8000"
    environment:
      - VERSION=0.1.0
      - SENSEBOX_IDS=5eba5fbad46fb8001b799786,5c21ff8f919bf8001adf2488,5ade1acf223bd80019a1011c
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8000/version"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s