apiVersion: v1
kind: Service
metadata:
  name: hivebox
  namespace: hivebox
  labels:
    app: hivebox-api
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: hivebox-api
