apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: hivebox
  labels:
    app: minio
    component: storage
spec:
  type: ClusterIP
  selector:
    app: minio
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
      name: minio-api
    - port: 9001
      targetPort: 9001
      protocol: TCP
      name: minio-console
  sessionAffinity: None